.btn {
  @include flex-all-center;

  border: 1px solid var(--color-primary);
  border-radius: 28px;
  padding: 8px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary);
  transition: color 0.2s ease, background-color 0.2s ease;

  &.focus-visible,
  &:hover {
    color: var(--color-bg);
    background-color: var(--color-primary);
  }

  &--social {
    padding: 5px 15px;
    font-size: 18px;
    line-height: 150%;
  }
}
