.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  padding: 20px 0;
  width: 100%;

  &__inner {
    @include flex-all-sb;

    margin: 0 auto;
    padding: 0 var(--container-offset);
  }

  &__logo {
    transition: opacity 0.2s ease;

    &:hover,
    &.focus-visible {
      opacity: 0.6;
    }
  }
}
