.section-offset {
  padding-top: 175px;
  padding-bottom: 275px;

  @include laptop {
    padding-top: 150px;
    padding-bottom: 250px;
  }

  @include large-tablet {
    padding: 150px 0;
  }

  @include tablet {
    padding: 100px 0;
  }
}

.section-h2 {
  font-family: var(--font-family-header);
  font-weight: 400;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-primary);

  @include laptop {
    font-size: 64px;
  }

  @include large-tablet {
    font-size: 48px;
  }

  @include tablet {
    font-size: 24px;
  }
}

.section-h3 {
  font-family: var(--font-family-header);
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-primary);

  @include large-tablet {
    font-size: 24px;
  }
}
