<section class="book  section-offset" id="book-ic">
  <div class="container book__inner">
    <div class="book__header">
      <h2 class="book__title  section-h2">Искусство<br>цвета</h2>
      <span class="book__author">Иттен Иоханнес</span>
    </div>
    <div class="book__content">
      <div class="book-block">
        <picture>
          <source srcset="img/ic-img.avif" type="image/avif">
          <source srcset="img/ic-img.webp" type="image/webp">
          <img loading="lazy" src="img/ic-img.jpg" class="book-block__image" width="460" height="460" alt="Обложка книги «Искусство цвета»">
        </picture>
        <div class="book-block__content" data-scroll data-scroll-speed="2">
          <div class="book-block__info">
            <h3 class="book-block__title  section-h3">Об авторе</h3>
            <p class="book-block__text">Иттен Иоханнес — швейцарский художник, теоретик нового искусства и преподаватель</p>
            <p class="book-block__text">Получил всемирную известность благодаря созданному им учебному подготовительному курсу Баухауса (Vorlehre), который лёг в основу преподавания во многих современных дизайнерских школах</p>
          </div>
          <div class="book-block__info">
            <h3 class="book-block__title  section-h3">О книге</h3>
            <p class="book-block__text">«Искусство цвета» — это целый учебник, посвящённый исследованию цвета и его особенностям</p>
            <p class="book-block__text">В нём написано о цвете буквально всё, как с физической, так и с психологической точки зрения. Помимо общей теории, автор приводит различные примеры картин, позволяющие глубже понять взаимоотношения цветов</p>
            <p class="book-block__text">Что такое цвет? Каково его значение? Как правильно его сочетать? — ответы на эти, и на многие другие вопросы есть в этой книге</p>
          </div>
        </div>
      </div>
      <div class="book-quote">
        <h3 class="book-quote__title  section-h3">Цитата</h3>
        <p class="book-quote__text" id="quote-ic">Серый цвет — это бесплодный, нейтральный цвет, жизнь и характер которого находится в зависимости от соседствующих с ним цветов</p>
      </div>
      <div class="book-block">
        <picture>
          <source srcset="img/ic-opened-img.avif" type="image/avif">
          <source srcset="img/ic-opened-img.webp" type="image/webp">
          <img loading="lazy" src="img/ic-opened-img.jpg" class="book-block__image" width="460" height="560" alt="Страница из книги «Искусство цвета»">
        </picture>
        <div class="book-block__content" data-scroll data-scroll-speed="2">
          <div class="book-block__info">
            <h3 class="book-block__title  section-h3">Моё мнение</h3>
            <p class="book-block__text">Из всех книг в списке, что я прочитал — эта оказалась для меня самой тяжёлой. Некоторые термины я видел впервые, но постепенно разобравшись с ними, я стал лучше понимать содержание</p>
            <p class="book-block__text">Я бы посоветовал её всем дизайнерам, которые хотят узнать о тонкостях цвета</p>
          </div>
          <div class="book-block__info">
            <h3 class="book-block__title  section-h3">Где можно купить</h3>
            <ul class="book-buy  list-reset">
              <li class="book-buy__item">
                <a href="https://www.ozon.ru/category/knigi-16500/?category_was_predicted=true&from_global=true&text=%D0%B8%D1%81%D0%BA%D1%83%D1%81%D1%81%D1%82%D0%B2%D0%BE+%D1%86%D0%B2%D0%B5%D1%82%D0%B0+%D0%B8%D0%BE%D1%85%D0%B0%D0%BD%D0%BD%D0%B5%D1%81+%D0%B8%D1%82%D1%82%D0%B5%D0%BD" class="book-buy__link" target="_blank" rel="noopener">
                  Ozon.ru
                  <svg class="book-buy__icon">
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
                </a>
              </li>
              <li class="book-buy__item">
                <a href="https://www.wildberries.ru/catalog/0/search.aspx?sort=popular&search=%D0%B8%D1%81%D0%BA%D1%83%D1%81%D1%81%D1%82%D0%B2%D0%BE+%D1%86%D0%B2%D0%B5%D1%82%D0%B0+%D0%B8%D0%BE%D1%85%D0%B0%D0%BD%D0%BD%D0%B5%D1%81+%D0%B8%D1%82%D1%82%D0%B5%D0%BD" class="book-buy__link" target="_blank" rel="noopener">
                  Wildberries.ru
                  <svg class="book-buy__icon">
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
                </a>
              </li>
              <li class="book-buy__item">
                <a href="https://www.chitai-gorod.ru/catalog/book/1038633/" class="book-buy__link" target="_blank" rel="noopener">
                  Chitai-gorod.ru
                  <svg class="book-buy__icon">
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
