<section class="book  section-offset" id="book-ssp">
  <div class="container book__inner">
    <div class="book__header">
      <h2 class="book__title  section-h2">Сожги своё<br>портфолио!</h2>
      <span class="book__author">Майкл Джанда</span>
    </div>
    <div class="book__content">
      <div class="book-block">
        <picture>
          <source srcset="img/ssp-img.avif" type="image/avif">
          <source srcset="img/ssp-img.webp" type="image/webp">
          <img loading="lazy" src="img/ssp-img.jpg" class="book-block__image" width="460" height="655" alt="Обложка книги «Сожги своё портфолио!»">
        </picture>
        <div class="book-block__content" data-scroll data-scroll-speed="2">
          <div class="book-block__info">
            <h3 class="book-block__title  section-h3">Об авторе</h3>
            <p class="book-block__text">Майкл Джанда — известный американский дизайнер с 20-летним опытом в агентствах и инхаус-командах</p>
            <p class="book-block__text">Он создал компанию, которая работала с Disney, Netflix, Fox, Warner Bros. и другими не менее популярными брендами</p>
            <p class="book-block__text">Его карьера — это целая панорама всевозможных состояний дизайнера: ночной фриланс на износ, страх нанимать людей, первая успешная компания, переход от UX-дизайна к менеджменту, продажа прибыльного бизнеса спустя 13 лет, независимый консалтинг, собственная книга и менторская миссия</p>
          </div>
          <div class="book-block__info">
            <h3 class="book-block__title  section-h3">О книге</h3>
            <p class="book-block__text">«Сожги своё портфолио!» — это уникальная книга по дизайнерскому бизнесу, которая позволяет гораздо чётче сложить картину о процессе дизайна в реальности, и что он далеко выходит за простое рисование красивых картинок</p>
            <p class="book-block__text">Автор приводит более 100 различных примеров и случаев из своей жизни, показывая, как правильно принимать оптимальные решения, работать с клиентами и достигать успехов</p>
          </div>
        </div>
      </div>
      <div class="book-quote">
        <h3 class="book-quote__title  section-h3">Цитата</h3>
        <p class="book-quote__text" id="quote-ssp">Если вы воспринимаете критику своей работы как посягательство на себя лично, значит, вы занимаете оборонительную позицию, а это помешает вам совершенствовать свои дизайнерские навыки и адаптироваться к изменениям в творческой среде</p>
      </div>
      <div class="book-block">
        <picture>
          <source srcset="img/ssp-opened-img.avif" type="image/avif">
          <source srcset="img/ssp-opened-img.webp" type="image/webp">
          <img loading="lazy" src="img/ssp-opened-img.jpg" class="book-block__image" width="460" height="560" alt="Страница из книги «Сожги своё портфолио!»">
        </picture>
        <div class="book-block__content" data-scroll data-scroll-speed="2">
          <div class="book-block__info">
            <h3 class="book-block__title  section-h3">Моё мнение</h3>
            <p class="book-block__text">Я могу порекомендовать эту книгу дизайнерам абсолютно любого уровня, поскольку полезных советов, применяемых сразу на практике, найдётся для всех</p>
            <p class="book-block__text">Именно она покажет то, насколько важен навык общения, нежели творческий талант</p>
          </div>
          <div class="book-block__info">
            <h3 class="book-block__title  section-h3">Где можно купить</h3>
            <ul class="book-buy  list-reset">
              <li class="book-buy__item">
                <a href="https://www.ozon.ru/category/knigi-16500/?category_was_predicted=true&from_global=true&text=%D0%A1%D0%BE%D0%B6%D0%B3%D0%B8+%D1%81%D0%B2%D0%BE%D0%B5+%D0%BF%D0%BE%D1%80%D1%82%D1%84%D0%BE%D0%BB%D0%B8%D0%BE%21" class="book-buy__link" target="_blank" rel="noopener">
                  Ozon.ru
                  <svg class="book-buy__icon">
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
                </a>
              </li>
              <li class="book-buy__item">
                <a href="https://www.labirint.ru/books/467142/" class="book-buy__link" target="_blank" rel="noopener">
                  Labirint.ru
                  <svg class="book-buy__icon">
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
                </a>
              </li>
              <li class="book-buy__item">
                <a href="https://www.chitai-gorod.ru/catalog/book/793721/" class="book-buy__link" target="_blank" rel="noopener">
                  Chitai-gorod.ru
                  <svg class="book-buy__icon">
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
