<section class="book  section-offset" id="book-nzmd">
  <div class="container book__inner">
    <div class="book__header">
      <h2 class="book__title  section-h2">Не заставляйте<br>меня думать</h2>
      <span class="book__author">Стив Круг</span>
    </div>
    <div class="book__content">
      <div class="book-block">
        <picture>
          <source srcset="img/nzmd-img.avif" type="image/avif">
          <source srcset="img/nzmd-img.webp" type="image/webp">
          <img loading="lazy" src="img/nzmd-img.jpg" class="book-block__image" width="460" height="655" alt="Обложка книги «Не заставляйте меня думать»">
        </picture>
        <div class="book-block__content" data-scroll data-scroll-speed="2">
          <div class="book-block__info">
            <h3 class="book-block__title  section-h3">Об авторе</h3>
            <p class="book-block__text">Стив Круг — это специалист по тестированию юзабилити и дизайну интерфейсов</p>
            <p class="book-block__text">В числе заказчиков были Apple, AOL, Netscape, Excite@Home, BarnesandNoble.com, Cox Interactive Media, и Circle.com (изначально Interactive Bureau)</p>
          </div>
          <div class="book-block__info">
            <h3 class="book-block__title  section-h3">О книге</h3>
            <p class="book-block__text">Эта книга расскажет о том, как создавать дизайн сайтов или мобильных приложений с заботой об удобстве пользователей</p>
            <p class="book-block__text">Она поможет заложить основные принципы юзабилити, объясняя на пальцах частые ошибки, которые допускаются во время разработки и тестировании интерфейсов</p>
            <p class="book-block__text">«Не заставляйте меня думать» — главный лозунг книги, говорящий о том, что сайты должны быть простыми и доступными</p>
          </div>
        </div>
      </div>
      <div class="book-quote">
        <h3 class="book-quote__title  section-h3">Цитата</h3>
        <p class="book-quote__text" id="quote-nzmd">Один клик, требующий от пользователя размышлений, равен трём простым кликам, которые можно сделать не задумываясь</p>
      </div>
      <div class="book-block">
        <picture>
          <source srcset="img/nzmd-opened-img.avif" type="image/avif">
          <source srcset="img/nzmd-opened-img.webp" type="image/webp">
          <img loading="lazy" src="img/nzmd-opened-img.jpg" class="book-block__image" width="460" height="560" alt="Страница из книги «Не заставляйте меня думать»">
        </picture>
        <div class="book-block__content" data-scroll data-scroll-speed="2">
          <div class="book-block__info">
            <h3 class="book-block__title  section-h3">Моё мнение</h3>
            <p class="book-block__text">Я бы посоветовал «Не заставляйте меня думать» к прочтению всем начинающим дизайнерам и разработчикам</p>
            <p class="book-block__text">Краткость, предельно понятные советы и иллюстрации позволят вам быстро познакомиться с UX-дизайном</p>
          </div>
          <div class="book-block__info">
            <h3 class="book-block__title  section-h3">Где можно купить</h3>
            <ul class="book-buy  list-reset">
              <li class="book-buy__item">
                <a href="https://www.ozon.ru/category/knigi-16500/?category_was_predicted=true&from_global=true&text=%D0%9D%D0%B5+%D0%B7%D0%B0%D1%81%D1%82%D0%B0%D0%B2%D0%BB%D1%8F%D0%B9%D1%82%D0%B5+%D0%BC%D0%B5%D0%BD%D1%8F+%D0%B4%D1%83%D0%BC%D0%B0%D1%82%D1%8C" class="book-buy__link" target="_blank" rel="noopener">
                  Ozon.ru
                  <svg class="book-buy__icon">
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
                </a>
              </li>
              <li class="book-buy__item">
                <a href="https://www.labirint.ru/books/569883/" class="book-buy__link" target="_blank" rel="noopener">
                  Labirint.ru
                  <svg class="book-buy__icon">
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
                </a>
              </li>
              <li class="book-buy__item">
                <a href="https://www.chitai-gorod.ru/catalog/book/960095/" class="book-buy__link" target="_blank" rel="noopener">
                  Chitai-gorod.ru
                  <svg class="book-buy__icon">
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
