<footer class="footer  section-offset">
  <div class="container  footer__inner">
    <div class="footer__header">
      <h2 class="footer__title  visually-hidden">Читайте книги — Развивайтесь</h2>
      <img loading="lazy" src="img/footer-title-img.svg" class="footer__image" width="1105" height="540" alt="" aria-hidden="true">
      <span class="footer__text">Любой источник знаний будет полезен дизайнеру</span>
    </div>
    <div class="footer__content" id="all-books">
      <ul class="footer-booktable  list-reset">
        <li class="footer-booktable__item" data-img-src="dkdnd">
          <a href="#book-dkdnd" class="footer-booktable__link">
            <span class="footer-booktable__author">Роберт Уильямс</span>
            <span class="footer-booktable__name">Книга для недизайнеров</span>
          </a>
        </li>
        <li class="footer-booktable__item" data-img-src="ic">
          <a href="#book-ic" class="footer-booktable__link">
            <span class="footer-booktable__author">Иттен Иоханнес</span>
            <span class="footer-booktable__name">Искусство цвета</span>
          </a>
        </li>
        <li class="footer-booktable__item" data-img-src="tvevideod">
          <a href="#book-tvevideod" class="footer-booktable__link">
            <span class="footer-booktable__author">Майкл Бейрут</span>
            <span class="footer-booktable__name">Теперь вы это видите и другие эссе о дизайне</span>
          </a>
        </li>
        <li class="footer-booktable__item" data-img-src="nzmd">
          <a href="#book-nzmd" class="footer-booktable__link">
            <span class="footer-booktable__author">Стив Круг</span>
            <span class="footer-booktable__name">Не заставляйте меня думать</span>
          </a>
        </li>
        <li class="footer-booktable__item" data-img-src="ssp">
          <a href="#book-ssp" class="footer-booktable__link">
            <span class="footer-booktable__author">Майкл Джанда</span>
            <span class="footer-booktable__name">Сожги своё портфолио!</span>
          </a>
        </li>
        <li class="footer-booktable__item" data-img-src="kknss">
          <a href="#book-kknss" class="footer-booktable__link">
            <span class="footer-booktable__author">Дмитрий Кот</span>
            <span class="footer-booktable__name">Как не съесть собаку</span>
          </a>
        </li>
      </ul>
      <div class="footer-copyright">
        <div class="footer-copyright__author">
          <span class="footer-copyright__post">Дизайн и разработка сайта</span>
          <span class="footer-copyright__name">Алексей Калинин</span>
        </div>
        <div class="footer-social">
          <a href="https://vk.com/sonniyboii" class="btn  btn--social  footer-social__link" target="_blank" rel="noopener">VK</a>
          <a href="https://t.me/sonniyboii" class="btn  btn--social  footer-social__link" target="_blank" rel="noopener">Telegram</a>
          <a href="https://sonniydsgn.vercel.app/" class="btn  btn--social  footer-social__link" target="_blank" rel="noopener">Портфолио</a>
        </div>
      </div>
    </div>
  </div>
</footer>
