<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>«О книгах про дизайн» — сонный дизайнер</title>
  <meta name="description" content="Рассказываю своё мнение о 6 прочитанных книгах про дизайн в виде небольшого интерактивного лонгрида">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="ru_RU" />
  <meta property="og:site_name" content="сонный дизайнер">
  <meta property="og:title" content="«О книгах про дизайн» — сонный дизайнер">
  <meta property="og:url" content="https://sonniydsgn.github.io/books4designers">
  <meta property="og:image" content="https://sonniydsgn.github.io/books4designers/img/assets/preview.jpg">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0a0a0a">
  <meta name="msapplication-TileColor" content="#e7e7e7">
  <meta name="theme-color" content="#e7e7e7">
  <link rel="preload" href="fonts/Manrope-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/DelaGothicOne-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
