<section class="library">
  <h2 class="visually-hidden">Библиотека книг</h2>
  <div class="library__list">
    <a href="#book-dkdnd" class="library-item  library-item--dkdnd">
      <h3 class="library-item__title  section-h3">Книга для<br>недизайнеров</h3>
      <span class="library-item__author">Роберт Уильямс</span>
      <svg class="library-item__arrow" aria-hidden="true">
        <use xlink:href="img/sprite.svg#arrow-down"></use>
      </svg>
    </a>
    <a href="#book-ic" class="library-item  library-item--ic">
      <h3 class="library-item__title  section-h3">Искусство<br>цвета</h3>
      <span class="library-item__author">Иттен Иоханнес</span>
      <svg class="library-item__arrow" aria-hidden="true">
        <use xlink:href="img/sprite.svg#arrow-down"></use>
      </svg>
    </a>
    <a href="#book-tvevideod" class="library-item  library-item--tvevideod">
      <h3 class="library-item__title  section-h3">Теперь вы это<br>видите и другие<br>эссе о дизайне</h3>
      <span class="library-item__author">Майкл Бейрут</span>
      <svg class="library-item__arrow" aria-hidden="true">
        <use xlink:href="img/sprite.svg#arrow-down"></use>
      </svg>
    </a>
    <a href="#book-nzmd" class="library-item  library-item--nzmd">
      <h3 class="library-item__title  section-h3">Не заставляйте<br>меня думать</h3>
      <span class="library-item__author">Стив Круг</span>
      <svg class="library-item__arrow" aria-hidden="true">
        <use xlink:href="img/sprite.svg#arrow-down"></use>
      </svg>
    </a>
    <a href="#book-ssp" class="library-item  library-item--ssp">
      <h3 class="library-item__title  section-h3">Сожги своё<br>портфолио!</h3>
      <span class="library-item__author">Майкл Джанда</span>
      <svg class="library-item__arrow" aria-hidden="true">
        <use xlink:href="img/sprite.svg#arrow-down"></use>
      </svg>
    </a>
    <a href="#book-kknss" class="library-item  library-item--kknss">
      <h3 class="library-item__title  section-h3">Как не съесть<br>собаку</h3>
      <span class="library-item__author">Дмитрий Кот</span>
      <svg class="library-item__arrow" aria-hidden="true">
        <use xlink:href="img/sprite.svg#arrow-down"></use>
      </svg>
    </a>
  </div>
</section>
